@import "tailwindcss";

html,
#root {
  width: 100%;
  height: 100%;
}

:root {
  --background: #f8fafc;
  --copy: #1f1f1f;
  --muted: #3f3f3f;
  --title: #1f1f1f;
  --primary: #19b6a9;
  --border: #e8eaec;

  background-color: var(--background);
}

.dark {
  --background: #1f1f1f;
  --copy: #f8fafc;
  --muted: #dddddd;
  --title: #f8fafc;
  --primary: #19d2c3;
  --border: #2f2f2f;
}

@theme {
  --color-background: var(--background);
  --color-copy: var(--copy);
  --color-muted: var(--muted);
  --color-title: var(--title);
  --color-primary: var(--primary);
  --color-border: var(--border);
}
